<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <body data-active="{{ page.url }}">

    {%- include header.html %}

    <main>
      {{ content }}
    </main>

    {%- include bottom_nav.html %}

    <script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>
    {% include scripts/mathjax.html %}
    {%- if site.enable_medium_zoom %}
    <script defer src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
    <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
    {%- endif %}
    {% include scripts/analytics.html %}
  </body>
</html>
